:root {
    --gridSize: 40px;
  }

.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 640px;
    height: 640px;
    border: 1px solid black;
}

/* 
In order to make the squares fit inside the grid, the width and height will need to be adjusted
40 * 40 = 1600 * 256 = 409600
640 * 640 = 409,600
Need to adjust based on the squares given
*/

.grid > div{
    background-color: red;
    height: var(--gridSize);
    width: var(--gridSize);
}

#gridButton{
    margin-bottom: 15px;
}