:root {
    --gridSize: 40px;
  }

.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 640px;
    height: 640px;
    border: 1px solid black;
}

.grid > div{
    height: var(--gridSize);
    width: var(--gridSize);
}

#gridButton{
    margin-bottom: 15px;
}